javascript:
  publicKey = "#{javascript_escape(@public_key)}"
  csrfToken = "#{javascript_escape(@csrf_token)}"

= form_for @changeset,
  Routes.center_request_path(@conn, :update, @center_request),
  [multipart: true, id: "private-data-form"]
  = if @changeset.action do
    .alert.alert-danger
      p Oops, something went wrong! Please check the errors below.
  #private-data-form
