= form_for @changeset, @action, [multipart: true, id: "torch-form"], fn f ->
  fieldset.torch-panel
    legend
      span
        | Details
    = if @changeset.action do
      p.torch-form-error
        | Oops, something went wrong! Please check the errors below.
    .torch-form-group
      = label f, :name
      = text_input f, :name
      = error_tag f, :name
    .torch-form-group
      = label f, :email
      = text_input f, :email
      = error_tag f, :email
    .torch-form-group
      = label f, :country
      = text_input f, :country
      = error_tag f, :country
    .torch-submit-form
      = submit "Submit", class: "torch-submit-button"
